<!DOCTYPE html>
<html>

<head>
  <title>FILES</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div id="app">

    <div id="content">
      <h2>
        <% path = path.split('/');
         for (let index = 0; index < path.length; index++) { 
           if(index!==path.length-1){
             path[index] = path[index] + "/";
           }
           let label = path[index];
           if(!(index==0)){
             path[index] = path[index - 1]  +  path[index];
           } %>
        <a href="<%=   path[index]    %>"><%=    label      %></a>
        <% }
        path = path[path.length-1];
      %>
      </h2>

      <form ref='uploadForm' id='uploadForm' action='' method='post' encType="multipart/form-data">
        <input type="text" id="fileName" title="en gros là tu mets le nom que tu veux donner à ton fichier/dossier sur le serveur (si tu mets rien ça lui donnera le nom qu'il avait sur ton ordi), si y'a déjà un fichier du meme nom sur le serveur ça l'uploadera pas" alt="en gros là tu mets le nom que tu veux donner à ton fichier/dossier sur le serveur (si tu mets rien ça lui donnera le nom qu'il avait sur ton ordi), si y'a déjà un fichier du meme nom sur le serveur ça l'uploadera pas" placeholder="file/folder name">
        <label id="fileUpload" for="fileSelector" role="img" alt="creer un fichier" title="creer un fichier">📎</label>
        <label id="createFolder" role="img" alt="creer un dossier" title="creer un dossier">📁</label>
        <input type="file" id="fileSelector" name="sampleFile">
      </form>
      <p id="wait"></p>

      <% 
      if (files) { 
        for (let index = 0; index < files.length; index++) { 
          let label = files[index].name;
          if(files[index].isDirectory()){      //IF IS DIRECTORY
      %>
      <p id="<%=    files[index].name    %>">    
        <a href="<%=    files[index].name + "/"   %>"><%=    files[index].name + "/"%></a> 
        <span role="img" alt="j'ai mis un emoji dossier pour qu'on voit facilement que c'est un dossier, mais en vrai j'ai fait ça vite fait et c'est une mauvaise idée parcequ'on aurait envie de croire que cet émoji est un bouton, alors que non, bref, ça changera" title="j'ai mis un emoji dossier pour qu'on voit facilement que c'est un dossier, mais en vrai j'ai fait ça vite fait et c'est une mauvaise idée parcequ'on aurait envie de croire que cet émoji est un bouton, alors que non, bref, ça changera" >
          📁
        </span>
        <label class="delete" role="img" alt="si tu clique sur cette croix ça va supprimer le fichier/dossier, et y'aura pas d'avertissement mon gars fais gaffe, en vrai t'as raison je vais mettre un avertissement ça sera mieux mais je sais pas trop quand" title="si tu clique sur cette croix ça va supprimer le fichier/dossier, et y'aura pas d'avertissement mon gars fais gaffe, en vrai t'as raison je vais mettre un avertissement ça sera mieux" value="<%=   files[index].name  %>">❌</label> 
      </p>
      <%
          }else{   //ELSE FILE
      %>
      <p id="<%=    files[index].name    %>">
        <a href="<%=    files[index].name    %>"><%=   files[index].name  %></a> 
        <label class="delete" role="img" alt="si tu clique sur cette croix ça va supprimer le fichier/dossier, et y'aura pas d'avertissement mon gars fais gaffe, en vrai t'as raison je vais mettre un avertissement ça sera mieux" title="si tu clique sur cette croix ça va supprimer le fichier/dossier, et y'aura pas d'avertissement mon gars fais gaffe, en vrai t'as raison je vais mettre un avertissement ça sera mieux" title="si tu clique sur cette croix ça va supprimer le fichier/dossier, et y'aura pas d'avertissement mon gars fais gaffe, en vrai je vais mettre un avertissement ça sera mieux" title="si tu clique sur cette croix ça va supprimer le fichier/dossier, et y'aura pas d'avertissement mon gars fais gaffe, en vrai je vais mettre un avertissement ça sera mieux" value="<%=   files[index].name  %>">❌</label>
        <!-- <label class="rename" value="<%=   files[index].name  %>">🖊️</label> -->
      </p>
      <%
          }
        }
      } 
      %>


    </div>
  </div>

  <script>
    const wait = document.querySelector("#wait");

    const fileSelector = document.querySelector("#fileSelector");  //input type file
    fileSelector.style.opacity = 0;                                //on l'invibilise pck c'est moche, juste besoin de la logique qu'il permet
    fileSelector.style.cssText = "position: absolute; margin-top: 3px; margin-left: 3px; height: 1px; width: 1px;";


    const nameInput = document.querySelector('#fileName');          //input type text
    nameInput.style.opacity = 0.5;                                 //pour faire vaguement plus joli mdr

    const delbuttons = document.querySelectorAll('.delete');       //les labels "❌"
    console.log(delbuttons);
    const fileUpload = document.querySelector('#fileUpload');       //le petit trombonne

    for (let index = 0; index < delbuttons.length; index++) {      //boucle pour mettre des events listener sur les "❌"
      let button = delbuttons[index];
      button.addEventListener('click', function (event) {
        if (window.confirm("FAIS BIEN ATTENTION TU ES ENTRAIN DE SUPPRIMER QUELQUE CHOSE DEFINITIVEMENT, SI C'EST UN DOSSIER TU SUPPRIME SON CONTENU AUSSI !!! j'ai pas encore eut le courage de mettre un fonction 'revenir en arrière' et je suis très masochiste alors si tu perds des trucs auquels tu tiens je vais m'en vouloir de ouf, stp fais pas de connerie, sois responsable et attentif peut-être?, je sais que les boites de dialogues qui te laissent le choix entre 'ok' et 'cancel' c'est de la merde mais bon pour le moment je me contente de ça, je peux pas me permettre d'etre trop perfectionniste sinon je ferai rien de ma vie")) { 

        console.log(event.target.attributes.value.value);         //url du fichier
        fetch(event.target.attributes.value.value, {
          method: 'delete',
        }).then((response) => {
          return response.json();
        }).then((data) => {
          console.log(data);
          window.location.reload(); //crappy but fuck, enough for now, i will use vue in the future, i swear

        });
      }
      });
    }

    const createFolder = document.getElementById('createFolder');
    createFolder.addEventListener('click', function (event) {

      console.log("let's create a folder named : " +  nameInput.value);
      let body = {
        action: "createFolder",
        name: nameInput.value
      };
      console.log(body);
      fetch("", {
        method: 'post',
        body: JSON.stringify(body),
        headers: {
            "Content-Type": "application/json"
          }
      }).then((response) => {
        return response.json();
      }).then((data) => {
        console.log("wow ok, i have a folder named : ");
        console.log(data);
        // i should append it to content wow (i tried but wow way more difficult than i thought..., i am going to reload page instead)
        window.location.reload(); //crappy but fuck, enough for now, i will use vue in the future, i swear


      });
    });





    fileSelector.addEventListener('change', function (event) {

      wait.innerHTML = "envoi en cours^^ att un peu";
      const formData = new FormData();
      formData.append('name', nameInput.value);
      formData.append('sampleFile', fileSelector.files[0]);


      fetch(nameInput.value, {
        method: 'PUT',
        body: formData
      })
        .then(response => response.json())
        .then(result => {
          console.log('Success:', result);
          if(result.message){
            window.location.reload(); //crappy but fuck, enough for now, i will use vue in the future, i swear
          }else{
            wait.innerHTML = "y'avait déjà un fichier du meme nom du coup ça n'a pas fonctionné...";
          }
          
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });




  </script>


</body>

</html>